<h2>Add your name to our ILLUSTRIOUS Society</h2>

<form action="/members" method="POST">
  <label for="name_field">Name:</label>
  <input type="text" name="name" id="name_field"/>
  <br>
  <label for="picture_url">Enter image url here:</label>
  <input type="text" name="picture" id="picture_url"/>
<input type="submit" value="Join the Society!">

</form>
