<h2>Add a new animal</h2>
<form>
  <label for="name_of_animal">Name:</label>
  <input type="text" name="name" id="name_of_animal"/>
  <br>
  <label for="species">Species:</label>
  <input type="text" name="species" id="species"/>
  <select id="species" name="species">
    <option value="endangered">Endangered</option>
    <option value="conservation dependant">Conservation dependant</option>
    <option value="near threatened">Near threatened</option>
    <option value="stable">Stable</option>
    <option value="common">Common</option>
  </select>
  <label for="first_sighting">First Sighting</label>
  <input type="date" name="first_sighting" id="first_sighting"/>

  <input type="submit" value="Submit"/>

</form>
