<h2>Add a new animal</h2>
<form method="POST" action="/animals">
  <label for="name_of_animal">Name:</label>
    <input type="text" name="name" id="name_of_animal"/>
  <br>
  <label for="species">Species:</label>
    <input type="text" name="species" id="species"/>
  <br>
  <label for="ecological_status">Status</label>
    <select id="ecological_status" name="ecological_status">
      <option value="endangered">Endangered</option>
      <option value="conservation dependant">Conservation dependant</option>
      <option value="near threatened">Near threatened</option>
      <option value="stable">Stable</option>
      <option value="common">Common</option>
    </select>
  <br>
  <label for="habitat">Habitat</label>
    <input type="text" name="habitat" id="habitat">
  <br>
  <label for="first_sighting">First Sighting</label>
    <input type="date" name="first_sighting" id="first_sighting" required value="<%= Date.today.strftime("%Y-%m-%d")%>"/>
  <br>
  <label for="image_url">Enter image url here:</label>
    <input type="text" name="image" id="image_url"/>
    <br>
  <input type="submit" value="Submit"/>

</form>
