<div class="end_it">
  <h2>In your boredom you have accidentally released Smog for some Toxic Love!</h2>
  <!-- <img src='http://68.media.tumblr.com/cf53133af92fbc4369d8da92f3e8be37/tumblr_o7oi020al91qgbp1jo1_500.gif'/> -->
</div>
