<div class="info-backing">
  <h2>In the future we would like to see the following:</h2>
<div>
  <p>Ability to choose where a secondary support source goes to, ie:
  <ul>
    <li>Funding volunteers to clear out environmental damage</li>
    <li>Feral animal controls</li>
    <li>Choose to directly fund surveys and research</li>
    <li>Support injured animals and see that funding and time have changed their status.</li>
  </ul>
</div>
<p>For another day... Rome and things.</p>
</div>
