<div class="info-backing">
<h2>Welcome to Red Centre Conservation</h2>
<p> We are a broad area research and conservation initiative inspired by the balancing forces of the Australian nature.<br>
  Our interest is in empowering the native flora and fauna to return to their previous strength through active<br>
  management and knowledge sharing with the local Pitjantjatjara and Yankunytjatjara people.</p>
</div>
