<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Red Centre Conservation</title>
    <link rel="icon" href="https://www.trafalgar.com/~/media/images/website-refresh/highlights/redcentresightsandsounds-travel-180926910.jpg?as=0&mw=800">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/animals">Animals</a></li>
        <li>Members</li>
        <li>Sponsorships</li>
        <li>Areas for Growth</li>
      </ul>
    </nav>
<h1>Welcome to Red Centre Conservation</h1>
<p> We are a broad area research and conservation initiative looking to help source funding from interested individuals<br>
  to help with ending corporate funding nightmares!</p>

<%= yield %>

  </body>
</html>
