nav, li {
  display: inline;
}

footer {
  bottom: 0;
  position: fixed;
}

body {
  font-family: 'Fjalla One', serif;
  font-size: 16px;
  color: wheat;
  background: url(https://austravelphotography.files.wordpress.com/2014/06/20140613-_mg_7390.jpg) no-repeat fixed center;
  background-size: cover;
}
.beside{
  display:inline;
}

.buttons {
    border-radius: 25px;
    background: salmon;
    width: 100px;
    height: 30px;
    margin: 10px, 0px;
    padding: 10px;
}

.ani-pic{
  border-radius: 20px;
}

.profile-pic {
  height: 200px;
  width: 200px
}
.info-backing {
  border-radius: 20px;
  background-color: #cd844d;
}
.form-sheet {
  border-radius: 20px;
  display: inline-block;
  background-color: #c4844d;
  border: 2px solid black;
}
.ico {
  height: 35px;
  width: 35px;
}

#all_over {
    font-size: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}
