html{
  color: #FFC192;
}
nav, li {
  display: inline;
}
a:visited{
  color: ivory;
}
a:link{
  color: ivory;
}

footer {
  bottom: 0;
  position: fixed;
}

body {
  font-family: 'Fjalla One', serif;
  font-size: 16px;
  color: ivory;
  background: url(https://austravelphotography.files.wordpress.com/2014/06/20140613-_mg_7390.jpg) no-repeat fixed center;
  background-size: cover;
}
.ani-pic{
  border-radius: 20px;
}

.profile-pic {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: top center;
}

.buttons {
    border-radius: 25px;
    background: #2D98A5;
    width: 100px;
    height: 30px;
    margin: 10px 0px;
    padding: 10px;
    cursor: pointer;
}

.button {
    border-radius: 25px;
    background:  #72E4F2;
    width: 100px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
.button:hover{
  background: #5EBBC7;
}
.buttons:hover{
  background: #2A8D99;
}
.end_it{
  margin-left: 30%;
}
.info-backing {
  margin: auto;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  background-color: #cd844d;
}
.backing-2{
  margin: auto;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  background-color: #cd844d;
}
.form-new {
  padding: 15px;
  margin:10px;
  border: 2px solid goldenrod;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-pledge {
  border-radius: 20px;
  display: flex;
  background-color: #c4844d;
  border: 2px solid black;
  flex: 1;
  max-width: 600px;
  margin: 10px;
}
.form-norm {
  margin: 10px;
  width: 200px;
  border-radius: 20px;
  display: inline-block;
  background-color: #c4844d;
  border: 2px solid black;
}
.item-container{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}
.ico {
  height: 35px;
  width: 35px;
}

.pledge-text{
  padding: 10px;
}

.to-the-right{
  display:flex;
  justify-content: flex-end;
}

#all_over {
    font-size: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
}

#pledges{
  display:flex;
  flex-grow: 1;
}

#single-el{
  margin-left: 40%;
}
